.portfolio__filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.8rem;
  margin-bottom: 2.5rem;
}

.portfolio__item {
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s;
}

.portfolio__item:hover {
  color: var(--first-color);
}

.portfolio__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.portfolio__card {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 1.5rem 2rem;
  transition: all 0.3s ease-in-out;
}

.portfolio__card:hover {
  transform: translateY(-10px);
}

.portfolio__category {
  color: #fff;
  background-color: var(--first-color);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: 1.5rem;
  padding: 0.2rem 0.4rem;
  font-size: 0.7rem;
  display: inline-block;
  transition: 0.3s;
}

.portfolio__title {
  margin-top: 1rem;
  transition: 0.3s;
}

.portfolio__description {
  margin-bottom: 1rem;
}

.portfolio__buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.portfolio__buttons .btn {
  border-radius: 0.5rem;
  background-color: #65c9ff;
}


/* TABLET */
@media screen and (max-width: 1024px){
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* MOBILE */
@media screen and (max-width: 600px){
  .portfolio__filters {
    gap: 1rem;
    margin-bottom: 2.5rem;
  }
}