.skills {
  align-items: center;
  display: flex;
  font-size: 1.7rem;
  width: var(--container-wight-lg);
  margin: 0 auto;
}

.skills p {
  border-right: 2px solid rgba(45,46,50,.5);
  color: var(--color-bg-variant);
  font-weight: 600;
  margin-right: 4rem;
  padding-right: 2rem;
}

.skills__logo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.skills__logo-item {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0,0,0,.09);
  cursor: pointer;
  display: flex;
  height: 5.5rem;
  justify-content: center;
  width: 5.5rem;
}

.skills__logo-item svg {
  height: auto;
  width: 3.5rem;
}

/* TABLET */
@media screen and (max-width: 1024px){
  .skills {
    flex-direction: column;
    position: static;
  }

  .skills p {
    border-bottom: 2px solid rgba(45,46,50,.5);
    border-right: none;
    margin-bottom: 3rem;
    margin-right: 0;
    padding-bottom: 1rem;
    padding-right: 0;
  }

  .skills__logo-list {
    justify-content: center;
  }
}




/* MOBILE */
@media screen and (max-width: 600px){
  .skills__logo-item {
    height: 4rem;
    width: 4rem;
  }

  .skills__logo-item svg {
    width: 2.5rem;
  }
}