.about__description {
  margin-top: 1rem;
}

.skills {
  align-items: center;
  display: flex;
  margin: 0 auto;
  margin-top: 4rem;
}

.skills h3 {
  border-right: 2px solid rgba(45,46,50,.5);
  font-weight: 600;
  margin-right: 4rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.skills__logo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.skills__logo-item {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0,0,0,.09);
  cursor: pointer;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;
  font-size: 1.7rem;
}

.skills__logo-item svg {
  height: auto;
  width: 3rem;
}

/* TABLET */
@media screen and (max-width: 1024px){

  .skills {
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2.5rem;
  }

  .skills h3 {
    border-bottom: 2px solid rgba(45,46,50,.5);
    border-right: none;
    margin-right: 0;
    padding-bottom: 1.5rem;
    padding-right: 0;
  }

  .skills__logo-list {
    justify-content: center;
  }
}




/* MOBILE */
@media screen and (max-width: 600px){
  .skills__logo-item {
    height: 4rem;
    width: 4rem;
  }

  .skills__logo-item svg {
    width: 2.5rem;
  }
}

/* TABLET */
@media screen and (max-width: 1024px){
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me-image {
    width: 70%;
  }
}

/* MOBILE */
@media screen and (max-width: 600px){
  .about__content p{
    margin-top: 1.3rem;
  }
}