.home {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__intro {
  max-width: 540px;
  text-align: center;
}

.home__img {
  margin-bottom: 1.5rem;
  display: inline-block;
}

.home__name {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.home__socials {
  display: flex;
  gap: 1.7rem;
  justify-content: center;
  margin: 1.5rem 0;
}

.home__socials-link {
  color: var(--title-color);
  font-size: 2rem;
  transition: var(--transition);
}

.home__socials-link:hover {
color: #65c9ff;
}

.home__links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.scroll-down {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  width: 100%;
}

.home__scroll-name {
  font-size: 1rem;
}

.mouse {
  border: 2px solid #454360;
  display: block;
  height: 1.6rem;
  width: 1.25rem;
  margin: auto;
  margin-top: 0.7rem;
  border-radius: 1rem;
  position: relative;
}

.wheel {
  background-color: var(--title-color);
  border-radius: 100%;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: ani-mouse 2s linear infinite;
}

@keyframes ani-mouse {
  0% {
    top:29%;
  }

  15% {
    top:50%;
  }

  50% {
    top:50%;
  }

  100% {
    top:29%;
  }
}

/* TABLET */
@media screen and (max-width: 1024px){

  .home__socials-link {
    font-size: 1.9rem;
  }
}


/* MOBILE */
@media screen and (max-width: 600px){
  .home__socials-link {
    font-size: 1.7rem;
  }

  .scroll-down {
    display: none;
  }
}