.contact {
  padding-bottom: 6rem;
}

.contact__container {
  grid-template-columns: 4fr 8fr;
  column-gap: 1.8rem;
}

.contact__title {
  margin-bottom: 0.5rem;
}

.contact__form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
}

.contact__form-div {
  position: relative;
  margin-bottom: 1.5rem;
  height: 3.5rem;
}

.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: var(--shadow);
  background-color: var(--container-color);
  columns: var(--text-color);
  border: none;
  outline: none;
  border-radius: 1.5rem;
  padding: 0.6rem 1.5rem;
  z-index: 1;
}

.contact__form-area {
  height: 10rem;
}

input, textarea {
  resize: none;
}

.popup__container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup__box {
  position: relative;
  width: 50%;
  min-height: 15rem;
  background-color: var(--container-color);
  border: 2px solid #45698f;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.popup__button-close {
  position: absolute;
  right: -1.5rem;
  top: -1.5rem;
  font-size: 1.5rem;
  color: #45698f;
  background-color: transparent;
}

/* TABLET */
@media screen and (max-width: 1024px){
  .contact {
    padding-bottom: 5rem;
  }

  .contact__container {
    grid-template-columns: 4fr 7fr;
    column-gap: 1.5rem;
  }

  .contact__form-area {
    height: 8rem;
  }

  .contact__form-group {
    grid-template-columns: 1fr;
  }
}

/* MOBILE */
@media screen and (max-width: 600px){
  .contact__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    text-align: center;
  }

  .contact__form-div {
    height: 3rem;
  }

  .contact__form-area {
    height: 8rem;
  }

  .contact {
    padding-bottom: 4.5rem;
  }
}