header {
  height: 100vh;
  padding-top: 4rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  margin-top: 2.4rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 0;
  bottom: 7rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.header__socials-link {
  font-size: 150%;
}

.me {
  height: 25rem;
  width: 32rem;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  position: absolute;
  margin-top: 4rem;
  left: calc(50% - 16rem);
  animation: morph 8s ease-in-out infinite;
  background-image: url(../../images/me.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease-in-out;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 10rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 1.3rem;
}

/* TABLET */
@media screen and (max-width: 1024px){
  header {
    height: 90vh;
  }

  .me {
    height: 18rem;
    width: 28rem;
    left: calc(50% - 14rem);
  }

  .header__socials {
    bottom: 8rem;
  }

  .scroll__down {
    bottom: 13rem;
  }
}


/* MOBILE */
@media screen and (max-width: 600px){
  header {
    height: 83vh;
  }

  .header__container < h1{
    line-height: normal;
  }

  .me {
    height: 14rem;
    width: 20rem;
    left: calc(50% - 10rem);
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}