.aside {
  position: fixed;
  left: 0;
  top: 0;
  background: var(--body-color);
  border-right: 2px solid rgba(0, 0, 0, 0.05);
  padding: 2rem;
  width: 110px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  transition: var(--transition);
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav__link {
  font-size: 1.5rem;
  color: var(--title-color);
  font-weight: 700;
  transition: var(--transition);
}

.nav__link:hover {
  color: #65c9ff;
}

.copyright {
  color: rgb(92, 92, 92);
  font-size: 1rem;
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
}

.nav__toggle {
  position: fixed;
  top: 1.2rem;
  left: 1.8rem;
  cursor: pointer;
  font-size: 2.5rem;
  background-color: var(--body-color);
  box-shadow: var(--shadow);
  border: 1px solid #e8dfec;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: var(--transition);
}

/* TABLET */
@media screen and (max-width: 1024px) {
  .aside {
    left: -110px;
  }

  .nav__toggle {
    display: flex;
  }

  .nav__toggle-open {
    left: 140px;
  }
  .show-menu {
    left: 0;
  }
}

/* MOBILE */
@media screen and (max-width: 600px){

}